<%= form_with model: [@gossip, @comment], local: true do |form| %>

<% if @comment.errors.any? %>
<div class="alert alert-warning" role="alert">
  <p>Nous n'avons pas réussi à créer le commentaire pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<table>
  <tr>
    <td> <%= form.label 'Contenu' %> </td>
    <td> <%= form.text_area :content,  rows: 5, cols: 80 %> </td>
  </tr>
  <tr>
    <td> </td>
    <td> <%= form.submit "Valider", class: "btn btn-primary" %> </td>
  </tr>
</table>

<% end %>
